/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,console = &uart0;
	};
};

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
				<NRF_PSEL(TWIM_SCL, 0, 27)>;
			bias-pull-up;
		};
	};

	i2c0_sleep: i2c0_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
				<NRF_PSEL(TWIM_SCL, 0, 27)>;
			low-power-enable;
		};
	};
};

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <100000>;

	imu0: icm42670@68 {
		compatible = "invensense,icm42670p-i2c";
		reg = <0x68>;
		status = "okay";
		
		/* Required properties */
		accel-hz = <100>;    /* 100 Hz accelerometer ODR */
		accel-fs = <16>;     /* ±16g accelerometer full-scale */
		gyro-hz = <100>;     /* 100 Hz gyroscope ODR */
		gyro-fs = <2000>;    /* ±2000 dps gyroscope full-scale */
	};
};
